<div class="container">
    <br>
    <div class="col-12 row" style="margin-top: 50px">


        <div class="col-7">



            <form [formGroup]="resultForm" (ngSubmit)="onSubmit()">

                <div class="row  form-group">
                    <div class="col-sm-3"></div>
                    <div class="col-sm-6 text-center">
                        <i class="fa fa-user-plus" style="font-size: 105px;"></i>
                        <h3>Student Result</h3>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" formControlName="en_no" required class="form-control" placeholder="Enrollement No" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" formControlName="studName" required class="form-control" placeholder="Student Name" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" formControlName="sub1" required class="form-control" placeholder="Subject 1 Marks" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" formControlName="sub2" required class="form-control" placeholder="Subject 2 Marks" />

                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <input type="text" formControlName="sub3" required class="form-control" placeholder="Subject 3 Marks" />

                    </div>
                </div>






                <div class="row">

                    <div class="col-sm-12">
                        <input type="submit" class="btn btn-success col-sm-12" name="btnregistraion" value="Submit" />


                    </div>
                </div>

            </form>

        </div>


    </div>

</div>
