<style>
    .std-b{
        font-weight: bold;
    }
</style>
<h2 class="text-center">Result Data</h2>
<br>
<br>

<div class="row std-list">
    <div class="col-md-2 std-list std-b"></div>
    <div class="col-md-3 std-list std-b">Enrollement NO</div>
    <div class="col-md-3 std-list std-b">Name</div>
    <div class="col-md-1 std-list std-b">Sub1</div>
    <div class="col-md-1 std-list std-b">Sub2</div>
    <div class="col-md-1 std-list std-b">Sub3</div>
</div>
<div class="row std-list"  *ngFor="let rdata of studresult">
    <div class="col-md-2 std-list"></div>
    <div class="col-md-3 std-list">{{rdata.en_no}}</div>
    <div class="col-md-3 std-list">{{rdata.studName}}</div>
    <div class="col-md-1 std-list">{{rdata.sub1}}</div>
    <div class="col-md-1 std-list">{{rdata.sub2}}</div>
    <div class="col-md-1 std-list">{{rdata.sub3}}</div>
   
</div>


<br>
<br>
<div class="text-center"><a routerLink="/" style="color: white;" class="btn btn-dark">New Result Add</a></div>